catboost==1.2.2
imbalanced-learn==0.10.1
joblib==1.2.0
lightgbm==3.3.5
matplotlib
numpy==1.24.3
pandas==1.5.3
plotly
requests==2.31.0
scikit-learn==1.2.2
seaborn
streamlit
streamlit-lottie==0.0.5
xgboost==1.7.6
